@page "/AddLobby/{Id}"
@page "/AddLobby"
@using MeetAndPlay.Core.Infrastructure.Extensions
@using MeetAndPlay.Data.Enums
@using MeetAndPlay.Data.Models.Games
@inherits AddLobbyComponent
@attribute [Authorize]

<div class="my-4">
    <h3>@PageName</h3>
</div>
<EditForm Model="@LobbyModel" OnSubmit="@SubmitAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label>
            Выберите игры
        </label>
        <Select2 TItem="Game"
                 Id="games-select"
                 IsMultiple="@true"
                 TextExpression="@(item => item.Name)"
                 Source="@GamesService"
                 InitialValues="@LobbyModel.Games"
                 @bind-Values="@LobbyModel.Games">
        </Select2>
    </div>
    <div class="form-group">
        <label>
            Выберите уровень игры <small>необязательно</small>
        </label>
        <select class="form-control" @bind="@LobbyModel.GameLevel">
            @foreach (GameLevel value in Enum.GetValues(typeof(GameLevel)))
            {
                <option value="@value">@value.GetDescription()</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>
            Какое необходимое количество участников для игры?
        </label>
        <input type="number" class="form-control" @bind="@LobbyModel.MaxPlayersCount" placeholder="Введите количество человек">
    </div>
    <div class="form-group">
        <label>
            Сколько вас уже человек? <small>необязательно</small>
        </label>
        <input type="number" class="form-control" @bind="@LobbyModel.CurrentPlayersCount" placeholder="Введите количество человек">
    </div>
    <div class="form-group">
        <label>
            Когда вы планируете поиграть?
        </label>
        <RadzenDatePicker @bind-Value="@LobbyModel.PlannedGameDate" DateFormat="d" Change="EventCallback<DateTime?>.Empty" Placeholder="Выберите дату"/>
    </div>

    <div class="form-group">
        <label>
            Где бы вы хотели поиграть? <small>необязательно</small>
        </label>
        <select class="form-control" @bind="@LobbyModel.PlaceType">
            @foreach (PlaceType value in Enum.GetValues(typeof(PlaceType)))
            {
                <option value="@value">@value.GetDescription()</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>
            Ваши пожелания <small>необязательно</small>
        </label>
        <textarea class="form-control" @bind="@LobbyModel.Description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label>
            Название встречи <small>необязательно</small>
        </label>
        <input type="text" class="form-control" @bind="@LobbyModel.Title">
    </div>

    <ImageInput
        Label="Выберите постер"
        ResultImages="@LobbyModel.Poster"
        ResultCompressedImages="@LobbyModel.CompressedPoster"
        InitialValues="@LobbyInitialImage"/>

    <div class="form-group">
        <button class="btn btn-warning bg-lightyellow" type="submit">@SubmitName</button>
    </div>
</EditForm>